* {box-sizing: border-box;}

.logo{
    height: 65px;
    width: 70px;
	padding:none;
}

.logo:hover{
    height: 66px;
    width: 70px;
    background-color: #9E2A2B;
}

.navi{
    text-align: center;
    background-color: #E2A850;
    width: 100%;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

.navi a{
    padding-left: 100px;
	float:left;
	text-decoration:none;
	font-size:25px;
	color:white;
}

.navi .tab {
	padding-top:20px;
	
}

.navi a:after {
    display:block;
    content: '';
    border-bottom: solid 3.5px #9E2A2B;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    
}
.navi a:hover{
    cursor: pointer;
    color: #9E2A2B;
}

.navi a:hover:after{
    border-collapse: separate;
    border-spacing: 10px;
    transform: scaleX(1); 
}

* {
    margin: 0;
  }

.banner img {
	width:100%;
	height:300px;
	opacity:50%;
}

.banner p {
	position: absolute;
	top:30%;
	color: black;
	width: 100%;
	font-size: 75px;
	text-align: center;
	text-decoration:bold;
}

.np .previous {
	position: absolute;
	top:33%;
	left:15%;
}

.np .next {
	position: absolute;
	top:33%;
	right:15%;
}


.np a {
  text-decoration: none;
  display: inline-block;
  font-size:30px;
  padding:10px;
}

.np a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
 
}

.next {
  background-color: #f1f1f1;
  color: black;
}

.round {
  border-radius: 50%;
}

.topnav {
  background-color: #467599;
  display:block;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 15px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 16px;
  margin-right: 16px;
  background: #ddd;
  height:30px;
  border: none;
  cursor: pointer;
  background-color:#9E2A2B;
  color:white;
}

.topnav .search-container button:hover {
  opacity:75%;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
  
}
.dropbtn {
  background-color: #9E2A2B;
  color: white;
  padding: 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  width:100px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  opacity:75%;
}

.preview img {
	height:200px;
	width:300px;
	float: left;
	margin: 30px;
}

.preview .name {
	font-size:50px;
	font-family:"Arial Bold";
	padding-top:50px;
}

.preview {
	height: 300px;
}

.preview p {
	font-family:"Arial";
	margin-right: 30px;
}

.preview .description {
	text-align:justify;
	text-indent:50px;
	font-size:20px;
}

.select {
	text-decoration:none;
	color:black;
}

.preview:hover {
	opacity:75%;
	
}
